# Cleaning and Analysis of CO2 data
- Author: Bryan Flores
- Date: 8/31/2021
- Version: 1.1

In [1]:
''' Dependencies '''
import pandas as pd
import numpy as np

''' Suppress Warnings '''
import warnings
warnings.filterwarnings('ignore')

In [2]:
co2 = pd.read_csv(r'C:\Users\Rudy\OneDrive\Projects\US-Wildfires\Phase 2\data\owid-co2-data.csv')
co2.head(10)

,iso_code,country,year,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
0,AFG,Afghanistan,1949,0.015,NaN,NaN,NaN,NaN,NaN,0.002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7663783.0,NaN
1,AFG,Afghanistan,1950,0.084,475.000,0.070,NaN,NaN,NaN,0.011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7752000.0,1.949480e+10
2,AFG,Afghanistan,1951,0.092,8.696,0.007,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7840000.0,2.006385e+10
3,AFG,Afghanistan,1952,0.092,NaN,NaN,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7936000.0,2.074235e+10
4,AFG,Afghanistan,1953,0.106,16.000,0.015,NaN,NaN,NaN,0.013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8040000.0,2.201546e+10
5,AFG,Afghanistan,1954,0.106,NaN,NaN,NaN,NaN,NaN,0.013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8151000.0,2.248333e+10
6,AFG,Afghanistan,1955,0.154,44.828,0.048,NaN,NaN,NaN,0.019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8271000.0,2.292989e+10
7,AFG,Afghanistan,1956,0.183,19.048,0.029,NaN,NaN,NaN,0.022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8399000.0,2.395993e+10
8,AFG,Afghanistan,1957,0.293,60.000,0.110,NaN,NaN,NaN,0.034,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8535000.0,2.396191e+10
9,AFG,Afghanistan,1958,0.330,12.500,0.037,NaN,NaN,NaN,0.038,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8680000.0,2.530744e+10

#### Step 1: Create subset of data for only the United States.
- Inspect 'country' and 'iso_code' fields for missing values

In [3]:
co2.describe()

,year,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,consumption_co2_per_capita,share_global_co2,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
count,23708.000000,23170.000000,21907.000000,22014.000000,3350.000000,3318.000000,3318.000000,22380.000000,3350.000000,23100.000000,...,5155.000000,5211.000000,5157.000000,5211.000000,5157.000000,6044.000000,6044.000000,6044.000000,2.107100e+04,1.300200e+04
mean,1951.670997,270.245818,17.707864,5.733241,222.596056,3.673305,27.047046,4.059419,6.556161,5.143504,...,8.099506,82.253370,2.046923,29.308135,0.606690,1638.281196,27401.710621,2.293554,5.927539e+07,4.396605e+11
std,53.828319,1509.911932,290.770226,54.592216,773.261390,100.251878,52.599781,15.340912,7.303592,17.985974,...,9.387477,566.702756,3.534126,199.291118,0.844671,9666.490291,33293.462203,1.681657,3.730743e+08,3.666682e+12
min,1750.000000,-1.165000,-2835.714000,-860.211000,-1.344000,-1487.155000,-118.238000,-2.675000,-0.396000,-0.030000,...,-50.487000,0.000000,0.000000,0.000000,0.000000,0.208000,111.472000,0.048000,1.000000e+03,6.378000e+07
25%,1922.000000,0.546000,-1.071000,-0.011000,8.942000,0.000000,0.000000,0.234000,1.100500,0.006000,...,2.514000,2.150000,0.715000,0.535000,0.228000,46.319000,5829.803000,1.247000,1.333018e+06,8.926728e+09
50%,1965.000000,5.168000,4.363000,0.088000,36.854000,2.348000,16.319500,1.208500,4.040000,0.071500,...,5.474000,9.030000,1.111000,3.590000,0.384000,148.790500,15359.988500,1.823500,4.856304e+06,2.966217e+10
75%,1993.000000,44.799000,11.453000,1.271000,141.397000,9.545500,40.842000,4.633000,9.829750,0.625000,...,10.299000,31.055000,1.690000,10.570000,0.607000,518.953000,37103.698250,2.700500,1.594407e+07,1.210000e+11
max,2019.000000,36441.388000,20100.000000,1667.711000,8959.962000,533.928000,1470.066000,794.334000,58.736000,100.000000,...,86.991000,8660.010000,39.812000,3054.000000,8.239000,153848.433000,317582.244000,14.939000,7.713468e+09,1.065610e+14

In [4]:
co2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23708 entries, 0 to 23707
Data columns (total 55 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   iso_code                             20930 non-null  object
 1   country                              23708 non-null  object
 2   year                                 23708 non-null  int64
 3   co2                                  23170 non-null  float64
 4   co2_growth_prct                      21907 non-null  float64
 5   co2_growth_abs                       22014 non-null  float64
 6   consumption_co2                      3350 non-null   float64
 7   trade_co2                            3318 non-null   float64
 8   trade_co2_share                      3318 non-null   float64
 9   co2_per_capita                       22380 non-null  float64
 10  consumption_co2_per_capita           3350 non-null   float64
 11  share_global_co2                     23100 non-null  float64
 12  cumulative_co2                       23575 non-null  float64
 13  share_global_cumulative_co2          23575 non-null  float64
 14  co2_per_gdp                          14918 non-null  float64
 15  consumption_co2_per_gdp              3088 non-null   float64
 16  co2_per_unit_energy                  6743 non-null   float64
 17  cement_co2                           12179 non-null  float64
 18  coal_co2                             16988 non-null  float64
 19  flaring_co2                          4299 non-null   float64
 20  gas_co2                              8690 non-null   float64
 21  oil_co2                              19708 non-null  float64
 22  other_industry_co2                   1560 non-null   float64
 23  cement_co2_per_capita                12150 non-null  float64
 24  coal_co2_per_capita                  16468 non-null  float64
 25  flaring_co2_per_capita               4298 non-null   float64
 26  gas_co2_per_capita                   8662 non-null   float64
 27  oil_co2_per_capita                   19390 non-null  float64
 28  other_co2_per_capita                 1560 non-null   float64
 29  share_global_coal_co2                16988 non-null  float64
 30  share_global_oil_co2                 19708 non-null  float64
 31  share_global_gas_co2                 8690 non-null   float64
 32  share_global_flaring_co2             4299 non-null   float64
 33  share_global_cement_co2              12179 non-null  float64
 34  cumulative_coal_co2                  18549 non-null  float64
 35  cumulative_oil_co2                   19960 non-null  float64
 36  cumulative_gas_co2                   9184 non-null   float64
 37  cumulative_flaring_co2               4930 non-null   float64
 38  cumulative_cement_co2                12560 non-null  float64
 39  share_global_cumulative_coal_co2     18549 non-null  float64
 40  share_global_cumulative_oil_co2      19960 non-null  float64
 41  share_global_cumulative_gas_co2      9184 non-null   float64
 42  share_global_cumulative_flaring_co2  4930 non-null   float64
 43  share_global_cumulative_cement_co2   12560 non-null  float64
 44  total_ghg                            5208 non-null   float64
 45  ghg_per_capita                       5155 non-null   float64
 46  methane                              5211 non-null   float64
 47  methane_per_capita                   5157 non-null   float64
 48  nitrous_oxide                        5211 non-null   float64
 49  nitrous_oxide_per_capita             5157 non-null   float64
 50  primary_energy_consumption           6044 non-null   float64
 51  energy_per_capita                    6044 non-null   float64
 52  energy_per_gdp                       6044 non-null   float64
 53  population                           21071 non-null  float64
 54  gdp                                  13002 non-null  float64
dtypes: float64(52), int64(1), object(2)
memory usage: 9.9+ MB

##### Notes for CO2 information:
- No missing values for 'country', roughly 3e10 for 'iso_code' --> can be easily filled in 
- Includes data for gasses other than CO2 --> subset #1 will include all countries but only CO2-related fields
- Lots of missing values --> research each ones importance and make decisions from there

In [5]:
co2_sub_1 = co2.drop(columns = ['methane', 'methane_per_capita', 'nitrous_oxide', 'nitrous_oxide_per_capita',
                                'total_ghg', 'ghg_per_capita'])
co2_sub_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23708 entries, 0 to 23707
Data columns (total 49 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   iso_code                             20930 non-null  object
 1   country                              23708 non-null  object
 2   year                                 23708 non-null  int64
 3   co2                                  23170 non-null  float64
 4   co2_growth_prct                      21907 non-null  float64
 5   co2_growth_abs                       22014 non-null  float64
 6   consumption_co2                      3350 non-null   float64
 7   trade_co2                            3318 non-null   float64
 8   trade_co2_share                      3318 non-null   float64
 9   co2_per_capita                       22380 non-null  float64
 10  consumption_co2_per_capita           3350 non-null   float64
 11  share_global_co2                     23100 non-null  float64
 12  cumulative_co2                       23575 non-null  float64
 13  share_global_cumulative_co2          23575 non-null  float64
 14  co2_per_gdp                          14918 non-null  float64
 15  consumption_co2_per_gdp              3088 non-null   float64
 16  co2_per_unit_energy                  6743 non-null   float64
 17  cement_co2                           12179 non-null  float64
 18  coal_co2                             16988 non-null  float64
 19  flaring_co2                          4299 non-null   float64
 20  gas_co2                              8690 non-null   float64
 21  oil_co2                              19708 non-null  float64
 22  other_industry_co2                   1560 non-null   float64
 23  cement_co2_per_capita                12150 non-null  float64
 24  coal_co2_per_capita                  16468 non-null  float64
 25  flaring_co2_per_capita               4298 non-null   float64
 26  gas_co2_per_capita                   8662 non-null   float64
 27  oil_co2_per_capita                   19390 non-null  float64
 28  other_co2_per_capita                 1560 non-null   float64
 29  share_global_coal_co2                16988 non-null  float64
 30  share_global_oil_co2                 19708 non-null  float64
 31  share_global_gas_co2                 8690 non-null   float64
 32  share_global_flaring_co2             4299 non-null   float64
 33  share_global_cement_co2              12179 non-null  float64
 34  cumulative_coal_co2                  18549 non-null  float64
 35  cumulative_oil_co2                   19960 non-null  float64
 36  cumulative_gas_co2                   9184 non-null   float64
 37  cumulative_flaring_co2               4930 non-null   float64
 38  cumulative_cement_co2                12560 non-null  float64
 39  share_global_cumulative_coal_co2     18549 non-null  float64
 40  share_global_cumulative_oil_co2      19960 non-null  float64
 41  share_global_cumulative_gas_co2      9184 non-null   float64
 42  share_global_cumulative_flaring_co2  4930 non-null   float64
 43  share_global_cumulative_cement_co2   12560 non-null  float64
 44  primary_energy_consumption           6044 non-null   float64
 45  energy_per_capita                    6044 non-null   float64
 46  energy_per_gdp                       6044 non-null   float64
 47  population                           21071 non-null  float64
 48  gdp                                  13002 non-null  float64
dtypes: float64(46), int64(1), object(2)
memory usage: 8.9+ MB

In [7]:
co2_sub_1.to_csv('./data/co2_subset_1.csv')